body{
  background-color:#002A35;
  color:#5fba3d;
  font-family:monospace, prestige;
  margin:0px
}

a{
  text-decoration:underline;
}


h2,h1,h3,p{
  color:#839491;
  font-family:monospace, prestige;
  margin:0px;
  margin-top:6px;
}
.blue{color:#258BD2}
.red{color:#B62430}
.teal{color:#239C91}
.musterd{color:#B58900}
.green{color:#84931A}
.gray{color:#586E75;}
a.gray{color:#586E75;}

img{
  width:0px;
  height:0px;
}

li{
  background-color:#080808;
}

.number{
  color:#586E75;
  padding:10px;
  background-color:#053542;
  margin-right:5px;
  width:100px
}
@-webkit-keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #586E75 }
}

@-moz-keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #586E75 }
}

.cursor {
  width:20px;
  height:22px;
  border-left:10px solid #586E75;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  display:inline-block;
  vertical-align:middle
}
footer{
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
}
